.container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .item {
        position: relative;
        border: 3px solid darkblue;
        border-radius: 15px;
        min-width: 275px;
        max-height: 200px;
        margin: 10px 10px 30px 10px;
        background-color: rgba(222, 222, 222, 0.6);
    }

}

.info-point {
    max-width: 160px;
    max-height: 160px;
    background-color: wheat;
    border-radius: 15px;

    h3 {
        padding: 5px 20px;
    }
}

.animal-container {
    position: relative;

    ul .animal-item {
        z-index: 5000 !important;
    }
}

img {
    width: 200px;
    height: 200px;
}

img:active {
    opacity: 0.8;
}

ul {
    max-width: 880px;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;

    li {
        width: min-content;
        margin: 5px;
        list-style-type: none;
        border-radius: 5px;
    }
}